body {
  position: fixed;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Rubik', sans-serif;
  color: white;
}

/* TOP AREA BITCHEZZZ */

#headcontainer {
  width: 80vw;
  height: 15vh;
  max-height: 15vh;
  box-sizing: border-box;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 1vh;
  line-height: 15vh;
  display: grid;
  grid-template-columns: 20vw 40vw 20vw;
  grid-template-rows: auto;
  grid-template-areas:
    "headone headtwo headthree";
}

.topheaddiv {
  text-align: center;
  width: 100%;
  height: 15vh;
  font-size: 200%;
}

#headone {
  grid-area: headone;
  border: 1px;
  border-color: grey;
  border-radius: 10px;
  border-style: dotted;
}

#weather_texty_text p {
  height: 100%;
  width: 100%;
  margin: auto;
}

#headtwo {
  grid-area: headtwo;
}

#headtwo h1 {
  line-height: 1.3;
  display: inline-block;
  vertical-align: middle;
}

#titletext {
  text-align: center;
  font-size: 150%;
}

#headthree {
  grid-area: headthree;
  line-height: 15vh;
  border: 1px;
  border-color: grey;
  border-radius: 10px;
  border-style: dotted;
}

/* MAIN AREA TIEM */

main {
  height: 75vh;
  width: 100%;
}

#mainstuffdiv {
  display: grid;
  height: 100%;
  width: 100%;
  margin: auto;
  grid-template-columns: 10vw 75vw 10vw;
  grid-template-rows: auto;
  grid-template-areas:
    "middivone middivtwo middivthree";
}

.middiv {
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 60vh;
  font-size: 150%;
}

#middivone {
  grid-area: middivone;
  border: 1px;
  border-color: grey;
  border-radius: 10px;
  border-style: dotted;
}
#middivtwo {
  grid-area: middivtwo;
  padding: 2rem;
  box-sizing: border-box;
  height: 100%;
}
#middivthree {
  grid-area: middivthree;
  border: 1px;
  border-color: grey;
  border-radius: 10px;
  border-style: dotted;
}

#textarea {
  width: 100%;
  height: 100%;
  font-size: 150%;
  border: 1px;
  border-style: groove;
  border-color: #c9c9c9;
  border-radius: 4px;
  padding: 10px;
  outline: none;
  resize: none;
  box-sizing: border-box;
}

/* FOOTER YO */

footer {
  box-sizing: border-box;
  height: 10vh;
  line-height: 10vh;
  text-align: center;
  font-size: 125%;
}

.a_means_link {
  color: white;
  text-decoration: none;
  transition: color;
  transition-duration: 1s;
}

.a_means_link:hover {
  color: #9400D3;
}


/* i dunno this yet */

@media (prefers-color-scheme: dark) {
  body {
    background: #36393f;
  }
  #textarea {
    background: #36393f;
    color: white;
  }
}
